<style>
  li.passed {
    background-color: #CCFFCC;
  }
  li.canceled {
    background-color: #CCCCCC;
  }
  li.failed {
    background-color: #FFCCCC;
  }
  li.errored {
    background-color: #FF8888;
  }
</style>

<h1>GitHub</h1>
<button (click)="loadIssues()">Load Issues {{repo.state}}</button>
<div *ng-if="hasAuthToken()">
  Logged in as {{getUsername()}}
</div>
<div *ng-if="!hasAuthToken()">
  <a href (click)="setupAuthToken(); false">Log in with Github</a>
</div>

<div [hidden]="presubmit.items.length == 0">
<h1>Presubmit Queue</h1>
<ul>
  <li *ng-for="var item of presubmit.items" [class-name]="item?.travisStatus">
    <a href="https://github.com/angular/angular/tree/{{item.branchName}}" target="_blank">{{item.branchName}}</a>
    ( <a href="https://travis-ci.org/angular/angular/builds/{{item?.travisJob}}" target="_blank">{{item?.travisStatus}}</a> ) 
  </li>
</ul>
</div>

<h1>Milestone</h1>
<table border=1 cellspacing=0>
  <tr>
    <th><a href="https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee" target="_blank">!Assigned</a></th>
    <th *ng-for="var user of milestoneUsers.items">
      <a href="https://github.com/angular/angular/issues?q=is%3Aopen+assignee%3A{{user.login}}" target="_blank">
        <img width="60" height="60" [src]="user.avatar_url || ''" title="{{user.login}}">
      </a>
    </th>
  </tr>
  <tbody *ng-for="var milestoneGroup of milestones.items">
    <tr><td [col-span]="milestoneUsers.items.length + 1"><h2>{{milestoneGroup.milestone.title}}</h2></td></tr>
    <tr>
      <td valign="top">
        <issue *ng-for="var issue of milestoneGroup.noUser.items" [issue]="issue" [compact]="true"></issue>
      </td>
      <td *ng-for="var user of milestoneUsers.items" valign="top">
        <issue *ng-for="var issue of milestoneGroup.getIssues(user)" [issue]="issue" [compact]="true"></issue>
      </td>
    </tr>
  </tbody>
<table>

<div [hidden]="triageIssues.items.length == 0">
  <h1>Triage Issues: {{triageIssues.items.length}}</h1>
  <issue *ng-for="var issue of triageIssues.items" [issue]="issue"></issue>
</div>

<h1>Hotlist</h1>
<table border=1 cellspacing=0>
  <tr>
    <th *ng-for="var hotlistGroup of hotlistIssues.items" valign="top">
      <a target="_blank" href='https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+label%3A%22hotlist%3A+{{hotlistGroup.name}}%22'>{{hotlistGroup.name}}</a>
    </th>
  </tr>
  <tr>
    <td *ng-for="var hotlistGroup of hotlistIssues.items" valign="top">
      <issue *ng-for="var issue of hotlistGroup.issues.items" [issue]="issue" [compact]="false"></issue>
    </td>
  </tr>
</table>

<h1>Backlog</h1>
<table border=1 cellspacing=0>
  <tr>
    <th></th>
    <th *ng-for="var componentGroup of backlogComponents.items" valign="top">
      <a target="_blank" href='https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+no%3Amilestone+label%3A%22comp%3A+{{componentGroup.name}}%22'>{{componentGroup.name}}</a>
    </th>
  </tr>
  <tr *ng-for="var priority of ['P0', 'P1', 'P2', 'P3', 'P4']" valign="top">
    <td>{{priority}}</td>
    <td *ng-for="var componentGroup of backlogComponents.items" valign="top">
      <issue *ng-for="var issue of componentGroup.issues[priority].items" [issue]="issue" [compact]="true"></issue>
    </td>
  </tr>
</table>

<h1>Mentions</h1>
  <gh-mentions org="angular" [days]="7"></gh-mentions>


